<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main-content" swipeGesture="true">
    <ion-header>
      <ion-toolbar class="menu-header">
        <ion-avatar class="avatar">
          <img src="assets/RescateYa.png" alt="avatar">
        </ion-avatar>
        <ion-title>RescateYa</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu-content">
      <ion-list lines="none">
        <ion-item button (click)="navigateTo('/home')">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          Home
        </ion-item>

        <ion-item button (click)="navigateTo('/profile')">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          Perfil
        </ion-item>

        <ion-item button (click)="navigateTo('/register')">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          Registro
        </ion-item>

        <ion-item button (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Cerrar sesión
        </ion-item>
        
        <ion-item button (click)="openGoogleDoc()">
          <ion-icon name="document-outline" slot="start"></ion-icon>
          Guia de Emergencias
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

        

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <button type="button" (click)="openGoogleDoc()">
    Guia de Emergencias
  </button>
</ion-app>
